<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mini App de Frutas con VUE js</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
</head>
<body>

    <div id="app" class="container my-5">
        <p class="h2 mb-5 text-center">Lista de frutas:</p>
        <div class="row">
            <div class="offset-3 col-6">
                <div class="d-flex flex-wrap justify-content-end">
                    <input type="text" class="form-control" v-model="nuevaFruta" @keyup.enter="agregarFrutas">
                    <button class="btn mt-2" @click="agregarFrutas">Agregar fruta</button>
                </div>

                <ul class="my-5">
                    <li v-for="fruta of frutas" class="my-4 font-weight-bold list-unstyled border-bottom border-secondary d-flex justify-content-between">
                        Hay {{fruta.cantidad}} unidades de {{fruta.nombre}}. <span v-if="fruta.cantidad === 0" class="small font-weight-bold text-secondary">SIN STOCK</span>
                        <div class="buttons">
                            <button class="btn btn-success"><span class="h5 font-weight-bold">+</span></button>
                            <button class="btn"><span class="h5 font-weight-bold">-</span></button>
                        </div>
                    </li>
                </ul>
                <p class="h5 px-5">Total de frutas : <span class="font-weight-bold">{{sumarFrutas}}</span></p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="script.js"></script>
    
</body>
</html>